<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
  <title>입력 화면</title>
</head>
<body>
  <h2>글자수 세기 프로그램</h2>
  <!-- action은 form 태그 안 내용을 처리해줄 서버 프로그램, method는 그 서버 프로그램에 사용자가 입력한 내용을 어떻게 넘겨줄 것인지 지정-->
  <form action="{% url 'result' %}" method="post" autocomplete="off">{% csrf_token %}
    <textarea name="text" cols="30" rows="10"></textarea>
    <br />
    <input class=button1 type="submit" value="글자를 입력해 주세요" />
    <input class=button2 type="reset" value="모두 지우기">
  </form>
</body>
</html>