<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'new.css' %}" type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <lagalbi for="title">할 일</lagalbi>
            <input type="text" name="title" placeholder="제목을 입력해주세요.">
        </div>
        <div class="content">
            <textarea name="content" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea>
        </div>
        <div class="duedate">
            <lagalbi class="lagalbi"> 마감날짜는? </lagalbi>
            <input class="duedue" type="date" name="duedate" placeholder="마감기한을 입력해주세요">
        </div>
        <button type="submit">작성하기</button>
        <a href="{% url 'home' %}">홈으로</a>
    </form>
</body>
</html>